.partnersWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 108px 0 138px 0;
}

.partnersLogos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 81px;
}
