@import "src/shared/variables.scss";

.section {
  width: 100%;
  background-repeat: no-repeat;
  background-position: top;
  padding: 40px;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.light {
  background-color: $gray-04;
}

.dark {
  background-color: $gray-03;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 20px;
  }
}
